<?xml version='1.0' encoding='utf-8'?>
<robot name="ur7e_xhand_verified">
  <!-- Arm source: UniversalRobots/Universal_Robots_ROS2_Description tag 4.3.1, commit ae333289875f9ba5a9ea6649a54036efb5ccabee; default UR7e kinematics, not a controller-specific calibration. -->
  <!-- XHand attachment and hand source: ur5_xhand/ur5_xhand.urdf; copied only from tool0 downstream, excluding camera_joint. -->
  <link name="world" />
  <link name="base_link" />
  <link name="base_link_inertia">
    <visual>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/base.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/base.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.00443333156" ixy="0.0" ixz="0.0" iyy="0.00443333156" iyz="0.0" izz="0.0072" />
    </inertial>
  </link>
  <link name="shoulder_link">
    <visual>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/shoulder.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/shoulder.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="3.761" />
      <origin rpy="1.570796326794897 0 0" xyz="0.0 -0.00193 -0.02561" />
      <inertia ixx="0.0070021" ixy="7.3e-07" ixz="-1.053e-05" iyy="0.00648091" iyz="0.00049994" izz="0.00657286" />
    </inertial>
  </link>
  <link name="upper_arm_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.138" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/upperarm.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.138" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/upperarm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="8.058" />
      <origin rpy="0 0 0" xyz="-0.2125 0.0 0.11336" />
      <inertia ixx="0.01505885" ixy="-5.4e-05" ixz="5.63e-06" iyy="0.33388086" iyz="-1.81e-06" izz="0.33247207" />
    </inertial>
  </link>
  <link name="forearm_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.007" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/forearm.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.007" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/forearm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.846" />
      <origin rpy="0 0 0" xyz="-0.2422 0.0 0.0265" />
      <inertia ixx="0.00399632" ixy="-1.365e-05" ixz="0.00137272" iyy="0.07879254" iyz="-6.6e-06" izz="0.0784851" />
    </inertial>
  </link>
  <link name="wrist_1_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.127" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/wrist1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.127" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/wrist1.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.37" />
      <origin rpy="1.570796326794897 0 0" xyz="0.0 -0.01634 -0.0018" />
      <inertia ixx="0.00165491" ixy="-2.82e-06" ixz="-4.38e-06" iyy="0.00135962" iyz="0.00010157" izz="0.00126279" />
    </inertial>
  </link>
  <link name="wrist_2_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.0997" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/wrist2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.0997" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/wrist2.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.3" />
      <origin rpy="-1.570796326794897 0 0" xyz="0.0 0.01634 -0.0018" />
      <inertia ixx="0.00135617" ixy="-2.74e-06" ixz="4.44e-06" iyy="0.00127827" iyz="-5.048e-05" izz="0.00096614" />
    </inertial>
  </link>
  <link name="wrist_3_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.0005 -0.0989" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/visual/wrist3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.0005 -0.0989" />
      <geometry>
        <mesh filename="../diagnostics/ur_description_source/meshes/ur5e/collision/wrist3.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.365" />
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.001159" />
      <inertia ixx="0.00018694" ixy="6e-08" ixz="-1.7e-07" iyy="0.00018908" iyz="-9.2e-07" izz="0.00025756" />
    </inertial>
  </link>
  <joint name="base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  <joint name="base_link-base_link_inertia" type="fixed">
    <parent link="base_link" />
    <child link="base_link_inertia" />
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
  </joint>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link_inertia" />
    <child link="shoulder_link" />
    <origin rpy="0 0 0" xyz="0 0 0.1625" />
    <axis xyz="0 0 1" />
    <limit effort="150.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link" />
    <child link="upper_arm_link" />
    <origin rpy="1.570796327 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="150.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link" />
    <child link="forearm_link" />
    <origin rpy="0 0 0" xyz="-0.425 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="150.0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link" />
    <child link="wrist_1_link" />
    <origin rpy="0 0 0" xyz="-0.3922 0 0.1333" />
    <axis xyz="0 0 1" />
    <limit effort="28.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link" />
    <child link="wrist_2_link" />
    <origin rpy="1.570796327 0 0" xyz="0 -0.0997 -2.044881182297852e-11" />
    <axis xyz="0 0 1" />
    <limit effort="28.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link" />
    <child link="wrist_3_link" />
    <origin rpy="1.570796326589793 3.141592653589793 3.141592653589793" xyz="0 0.0996 -2.042830148012698e-11" />
    <axis xyz="0 0 1" />
    <limit effort="28.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="ft_frame" />
  <joint name="wrist_3_link-ft_frame" type="fixed">
    <parent link="wrist_3_link" />
    <child link="ft_frame" />
    <origin rpy="3.141592653589793 0 0" xyz="0 0 0" />
  </joint>
  <link name="base" />
  <joint name="base_link-base_fixed_joint" type="fixed">
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  <link name="flange" />
  <joint name="wrist_3-flange" type="fixed">
    <parent link="wrist_3_link" />
    <child link="flange" />
    <origin rpy="0 -1.5707963267948966 -1.5707963267948966" xyz="0 0 0" />
  </joint>
  <link name="tool0" />
  <joint name="flange-tool0" type="fixed">
    <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
  <link name="Flange_base_link">
    <inertial>
      <origin xyz="0.00001 0.03711 0.02627" rpy="0 0 0" />
      <mass value="0.2013" />
      <inertia ixx="0.0003075" ixy="-0.00000013" ixz="-0.00000006" iyy="0.0002351" iyz="0.0001001" izz="0.0002312" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/Flange_meshes/coupling_D405_m.stl" />
      </geometry>
      <material name="Grey">
        <color rgba="0.7 0.7 0.7 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/Flange_meshes/coupling_D405_m.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_back_link">
    <inertial>
      <origin xyz="-0.0140081519632461 -0.00149245332244742 -0.000647126026633069" rpy="0 0 0" />
      <mass value="0.00000002" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_back_link.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_back_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_ee_link">
    <inertial>
      <origin xyz="1.4529186126289E-19 -2.85196737334113E-18 0" rpy="0 0 0" />
      <mass value="0.00000565" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_ee_link.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_ee_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_index_bend_link">
    <inertial>
      <origin xyz="-0.000715851164577249 0.000118997558760756 0.0111903014853532" rpy="0 0 0" />
      <mass value="0.068721" />
      <inertia ixx="0.00001643" ixy="0.00000000001" ixz="0.00000013" iyy="0.00001707" iyz="-0.00000011" izz="0.00000343" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_index_bend_link.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_index_bend_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_index_rota_link1">
    <inertial>
      <origin xyz="0.00063293051295399 0.00013300810657332 0.0355868719939061" rpy="0 0 0" />
      <mass value="0.06298297" />
      <inertia ixx="0.00001686" ixy="0.00000000001" ixz="-0.00000019" iyy="0.00001738" iyz="-0.00000028" izz="0.0000032" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_index_rota_link1.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_index_rota_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_index_rota_link2">
    <inertial>
      <origin xyz="0.00119905190206782 -0.000248361661986104 0.0213789854478679" rpy="0 0 0" />
      <mass value="0.01582395" />
      <inertia ixx="0.00000283" ixy="0.00000000001" ixz="-0.00000007" iyy="0.00000277" iyz="-0.00000012" izz="0.00000085" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_index_rota_link2.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_index_rota_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_index_rota_tip">
    <inertial>
      <origin xyz="7.13838710364456E-16 -3.46944695195361E-18 2.77555756156289E-17" rpy="0 0 0" />
      <mass value="0.00000565" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_index_rota_tip.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_index_rota_tip.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_index_rotaback_link1">
    <inertial>
      <origin xyz="-0.0115948039989203 -0.000148034626475925 -0.0241234086564007" rpy="0 0 0" />
      <mass value="0.00000002" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_index_rotaback_link1.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_index_rotaback_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_index_rotaback_link2">
    <inertial>
      <origin xyz="-0.00758843721876551 0.00015795043857645 -0.0176655210856158" rpy="0 0 0" />
      <mass value="0.00000001" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_index_rotaback_link2.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_index_rotaback_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_link">
    <inertial>
      <origin xyz="0.010035126340455 -0.00366835056360167 0.0582695212892126" rpy="0 0 0" />
      <mass value="0.53851506" />
      <inertia ixx=".00064186" ixy="0.00000002" ixz="-0.00000217" iyy="0.00046434" iyz="0.00005134" izz="0.00027538" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_link.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_mid_link1">
    <inertial>
      <origin xyz="0.000530417592106097 3.58049083658378E-05 0.033278467115721" rpy="0 0 0" />
      <mass value="0.06298297" />
      <inertia ixx="0.00001681" ixy="0.00000000001" ixz="-0.00000087" iyy="0.00001738" iyz="-0.00000028" izz="0.00000325" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_mid_link1.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_mid_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_mid_link2">
    <inertial>
      <origin xyz="0.00119905190206755 -0.000248361661996566 0.0213789854478682" rpy="0 0 0" />
      <mass value="0.01582395" />
      <inertia ixx="0.00000287" ixy="-0.00000001" ixz="-0.00000019" iyy="0.00000283" iyz="-0.00000012" izz="0.00000087" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_mid_link2.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_mid_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_mid_tip">
    <inertial>
      <origin xyz="6.99093560818653E-16 2.6104986228237E-14 8.32667268468867E-16" rpy="0 0 0" />
      <mass value="0.00000565" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_mid_tip.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_mid_tip.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_midback_link1">
    <inertial>
      <origin xyz="-0.0115948039977618 -0.000148034759331951 -0.0241234077138271" rpy="0 0 0" />
      <mass value="0.00000002" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_midback_link1.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_midback_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_midback_link2">
    <inertial>
      <origin xyz="-0.00758843721876527 0.000157950438608734 -0.0176655210856121" rpy="0 0 0" />
      <mass value="0.00000001" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_midback_link2.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_midback_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_pinky_link1">
    <inertial>
      <origin xyz="0.00053041759210553 3.58049083602902E-05 0.0332784671157224" rpy="0 0 0" />
      <mass value="0.06298297" />
      <inertia ixx="0.00001681" ixy="0.00000000001" ixz="-0.00000087" iyy="0.00001738" iyz="-0.00000028" izz="0.00000325" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_pinky_link1.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_pinky_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_pinky_link2">
    <inertial>
      <origin xyz="0.001199051902067 -0.000248361662016403 0.0213789854478657" rpy="0 0 0" />
      <mass value="0.01582395" />
      <inertia ixx="0.00000287" ixy="-0.00000001" ixz="-0.00000019" iyy="0.00000283" iyz="-0.00000012" izz="0.00000087" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_pinky_link2.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_pinky_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_pinky_tip">
    <inertial>
      <origin xyz="1.17961196366423E-16 -2.91433543964104E-16 0" rpy="0 0 0" />
      <mass value="0.00000565" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_pinky_tip.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_pinky_tip.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_pinkyback_link1">
    <inertial>
      <origin xyz="-0.0115948039527258 -0.000148033943928788 -0.0241234090857975" rpy="0 0 0" />
      <mass value="0.00000002" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_pinkyback_link1.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_pinkyback_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_pinkyback_link2">
    <inertial>
      <origin xyz="-0.00758843721876425 0.000157950438630629 -0.0176655210855414" rpy="0 0 0" />
      <mass value="0.00000001" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_pinkyback_link2.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_pinkyback_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_ring_link1">
    <inertial>
      <origin xyz="0.000530417592105675 3.58049083603318E-05 0.0332784671157224" rpy="0 0 0" />
      <mass value="0.06298297" />
      <inertia ixx="0.00001681" ixy="0.00000000001" ixz="-0.00000087" iyy="0.00001738" iyz="-0.00000028" izz="0.00000325" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_ring_link1.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_ring_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_ring_link2">
    <inertial>
      <origin xyz="0.00119905192644367 -0.000248361559624762 0.0213789854805378" rpy="0 0 0" />
      <mass value="0.01582395" />
      <inertia ixx="0.00000287" ixy="-0.00000001" ixz="-0.00000019" iyy="0.00000283" iyz="-0.00000012" izz="0.00000087" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_ring_link2.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_ring_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_ring_tip">
    <inertial>
      <origin xyz="3.0444397003393E-16 -9.71445146547012E-17 0" rpy="0 0 0" />
      <mass value="0.00000565" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_ring_tip.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_ring_tip.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_ringback_link1">
    <inertial>
      <origin xyz="-0.0115948040042931 -0.000148034878525431 -0.0241234080984737" rpy="0 0 0" />
      <mass value="0.00000002" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_ringback_link1.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_ringback_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_ringback_link2">
    <inertial>
      <origin xyz="-0.00758843721876704 0.000157950438643945 -0.0176655210856309" rpy="0 0 0" />
      <mass value="0.00000001" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_ringback_link2.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_ringback_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_thumb_bend_link">
    <inertial>
      <origin xyz="-0.00116534489100702 0.0144358799903649 5.40665183232092E-05" rpy="0 0 0" />
      <mass value="0.01151453" />
      <inertia ixx="0.00000155" ixy="-0.00000003" ixz="0.00000000001" iyy="0.00000062" iyz="0.00000007" izz="0.00000157" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_thumb_bend_link.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_thumb_bend_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_thumb_rota_link1">
    <inertial>
      <origin xyz="-0.00036176505273174 0.0287681485595387 0.00133929684947857" rpy="0 0 0" />
      <mass value="0.1322853" />
      <inertia ixx="0.00003665" ixy="-0.00000788" ixz="0.00000198" iyy="0.00001694" iyz="0.00000185" izz="0.00004358" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_thumb_rota_link1.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_thumb_rota_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_thumb_rota_link2">
    <inertial>
      <origin xyz="-0.000881604281134662 0.0225339954987271 0.000614550644508979" rpy="0 0 0" />
      <mass value="0.03516871" />
      <inertia ixx="0.00000779" ixy="-0.00000002" ixz="0.00000034" iyy="0.0000035" iyz="-0.00000018" izz="0.00000896" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_thumb_rota_link2.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_thumb_rota_link2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_thumb_rota_tip">
    <inertial>
      <origin xyz="1.82145964977565E-17 -2.77555756156289E-17 1.31838984174237E-16" rpy="0 0 0" />
      <mass value="0.00000565" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_thumb_rota_tip.STL" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_thumb_rota_tip.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_thumb_rotaback_link1">
    <inertial>
      <origin xyz="0.00143342397772657 -0.0296289408961753 -0.00759117851370326" rpy="0 0 0" />
      <mass value="0.00000006" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_thumb_rotaback_link1.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_thumb_rotaback_link1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_hand_thumb_rotaback_link2">
    <inertial>
      <origin xyz="-0.000532663554883375 -0.0258393181739458 -0.00924631111128287" rpy="0 0 0" />
      <mass value="0.00000004" />
      <inertia ixx="0.00000000001" ixy="0.00000000001" ixz="0.00000000001" iyy="0.00000000001" iyz="0.00000000001" izz="0.00000000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_meshes/right_hand_thumb_rotaback_link2.STL" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../ur5_xhand/xhand_obj/right_hand_thumb_rotaback_link2.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="tool02Flange_fixed_joint" type="fixed">
    <origin rpy="0 0 0.785" xyz="0 0 0" />
    <parent link="tool0" />
    <child link="Flange_base_link" />
  </joint>
  <joint name="Flange2hand_fixed_joint" type="fixed">
    <origin rpy="0 -1.5708 1.5708" xyz="0 0.04 0.04 " />
    <parent link="Flange_base_link" />
    <child link="right_hand_link" />
  </joint>
  <joint name="right_hand_ee_joint" type="fixed">
    <origin xyz="0 0 0.065" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_ee_link" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_back_joint" type="fixed">
    <origin xyz="0 0 0.065" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_back_link" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_thumb_bend_joint" type="revolute">
    <origin xyz="0.0095 0.0228 0.0305" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_thumb_bend_link" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.832" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_index_bend_joint" type="revolute">
    <origin xyz="0.0065 0.0265 0.0899" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_index_bend_link" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.174" upper="0.174" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_mid_joint1" type="revolute">
    <origin xyz="0.0065 0.004 0.1082" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_mid_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_ring_joint1" type="revolute">
    <origin xyz="0.0065 -0.016 0.1052" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_ring_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_pinky_joint1" type="revolute">
    <origin xyz="0.0065 -0.036 0.1022" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_pinky_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_thumb_rota_joint1" type="revolute">
    <origin xyz="0.0083177 0.028599 -0.00178" rpy="0 0.2618 -0.0407" />
    <parent link="right_hand_thumb_bend_link" />
    <child link="right_hand_thumb_rota_link1" />
    <axis xyz="1 0 0" />
    <limit lower="-0.698" upper="1.57" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_index_joint1" type="revolute">
    <origin xyz="0 0 0.0178" rpy="0 0 0" />
    <parent link="right_hand_index_bend_link" />
    <child link="right_hand_index_rota_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_midback_joint1" type="fixed">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_mid_link1" />
    <child link="right_hand_midback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_mid_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_mid_link1" />
    <child link="right_hand_mid_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_ringback_joint1" type="fixed">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_ring_link1" />
    <child link="right_hand_ringback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_ring_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_ring_link1" />
    <child link="right_hand_ring_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_pinkyback_joint1" type="fixed">
    <origin xyz="0 0 0.0558000000000001" rpy="0 0 0" />
    <parent link="right_hand_pinky_link1" />
    <child link="right_hand_pinkyback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_pinky_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_pinky_link1" />
    <child link="right_hand_pinky_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_thumb_rotaback_joint1" type="fixed">
    <origin xyz="0 0.0553000000000007 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link1" />
    <child link="right_hand_thumb_rotaback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_thumb_rota_joint2" type="revolute">
    <origin xyz="0 0.0553 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link1" />
    <child link="right_hand_thumb_rota_link2" />
    <axis xyz="1 0 0" />
    <limit lower="0" upper="1.57" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_index_rotaback_joint1" type="fixed">
    <origin xyz="0 0 0.0557999999999955" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link1" />
    <child link="right_hand_index_rotaback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_index_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link1" />
    <child link="right_hand_index_rota_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_midback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089416" rpy="0 0 0" />
    <parent link="right_hand_mid_link2" />
    <child link="right_hand_midback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_mid_joint3" type="fixed">
    <origin xyz="0 0 0.042248" rpy="0 0 0" />
    <parent link="right_hand_mid_link2" />
    <child link="right_hand_mid_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_ringback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089404" rpy="0 0 0" />
    <parent link="right_hand_ring_link2" />
    <child link="right_hand_ringback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_ring_joint3" type="fixed">
    <origin xyz="0 0 0.0422482924089404" rpy="0 0 0" />
    <parent link="right_hand_ring_link2" />
    <child link="right_hand_ring_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_pinkyback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089405" rpy="0 0 0" />
    <parent link="right_hand_pinky_link2" />
    <child link="right_hand_pinkyback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_pinky_joint3" type="fixed">
    <origin xyz="0 0 0.0422482924089405" rpy="0 0 0" />
    <parent link="right_hand_pinky_link2" />
    <child link="right_hand_pinky_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_thumb_rotaback_joint2" type="fixed">
    <origin xyz="0 0.0502276499414863 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link2" />
    <child link="right_hand_thumb_rotaback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_thumb_rota_joint3" type="fixed">
    <origin xyz="0 0.0502276499414863 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link2" />
    <child link="right_hand_thumb_rota_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_index_rotaback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089424" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link2" />
    <child link="right_hand_index_rotaback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_hand_index_rota_joint3" type="fixed">
    <origin xyz="0 0 0.0422482924089424" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link2" />
    <child link="right_hand_index_rota_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
</robot>